@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.navbar {
    font-family: 'PT Sans', sans-serif;
}

.container {
    background-color: black;
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 4%;
    height: 80%;
}


#logo {
    height: 100%;
    width: 100%;
    cursor: pointer;
}


.nav-items ul li{
    display: inline-block;
    list-style-type: none;
    margin: 60px;
    cursor: pointer;
}

.contact {
    margin-right: 6%;
    cursor: pointer;
}

.button {
    border: 1px solid #677D2E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 6.5rem;
}
