

.navbar {
    font-family: 'PT Sans', sans-serif;
    position: absolute;
}

.container {
    background-color: transparent;
    height: 17vh;
    width: 100vw;
    font-size: 1.05rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.logo {
    margin-left: 4%;
    height: 80%;
    overflow: hidden;
}

.nav-items {
    margin-left: 14%;
}

#logo {
    height: 90%;
    width: 100%;
    cursor: pointer;
    margin-top: 10%;
}


.nav-items ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 7vw;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.nav-items ul li:hover {
    border-bottom: 2px solid #677D2E;
    transition: 0.4s ease-in-out;
    scale: 1.05;
}

.nav-items ul li:active {
    border-bottom: 2px solid #677D2E;
}

.enquire {
    margin-right: 6%;
    cursor: pointer;
}

.button {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 6.5rem;
    border-radius: 10px;
    font-weight: 700;
    border: 1px solid transparent;
}

.button:hover {
    background-color: transparent;
    color: #fff;
    transition: 0.3s ease-in-out;
    border: 1px solid #fff;
}

