@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}

.main-body{
    height: 100vh;
    width: 100%;
   user-select: none;
   overflow-y: hidden;
   overflow-x: hidden;
}